@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/desk11.jpg" alt="desk" />

<div class="home">
    
        
        <div class="homeButtons">

            <a asp-page="./DeskQuotes/Create" class="homebtn"><h2>Add a Quote</h2></a>
                        
            <a asp-page="./DeskQuotes/Index" class="homebtn">  <h2>View All Quotes</h2></a>
                                
    </div>
</div>